# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
venv/
ENV/
env/

# Django
db.sqlite3
/staticfiles/

# Node.js / React
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
