# Python
*.py[cod]
__pycache__/
*.log

# Django
backend/db.sqlite3
/staticfiles/

# Virtual environments
venv/
ENV/
env/

# Node.js / React
furia-frontend/node_modules/
furia-frontend/dist/
furia-frontend/build/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
